<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
<!--        <setting name="lazyLoadingEnabled" value="true"/>-->
<!--        <setting name="aggressiveLazyLoading" value="false"/>-->
<!--        <setting name="defaultExecutorType" value="BATCH"/>-->
      <!--使全局的二级缓存开启-->
      <setting name="cacheEnabled" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value="" />
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://192.168.9.102:12003/db1?useAffectedRows=true" />
                <property name="username" value="java" />
                <property name="password" value="R$dXWU6ZMOG*wiQ9" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="org.apache.ibatis.learn.Mapper" />
    </mappers>

</configuration>
